.env
*.env
!template.env
shelby-as-a-service.code-workspace
logs/
mendable/
shelby_as_a_service/app/your_apps/*
shelby_as_a_service/extensions/*
!shelby_as_a_service/extensions/template


**/__pycache__/
.mypy_cache/
gradio_cached_examples